

.alarm-fillbi-:before { content: 'e800'; } /* '' */
.alarmbi-:before { content: 'e801'; } /* '' */
.align-bottombi-:before { content: 'e802'; } /* '' */
.align-centerbi-:before { content: 'e803'; } /* '' */
.align-endbi-:before { content: 'e804'; } /* '' */
.align-middlebi-:before { content: 'e805'; } /* '' */
.align-startbi-:before { content: 'e806'; } /* '' */
.altbi-:before { content: 'e807'; } /* '' */
.app-indicatorbi-:before { content: 'e808'; } /* '' */
.appbi-:before { content: 'e809'; } /* '' */
.archive-fillbi-:before { content: 'e80a'; } /* '' */
.archivebi-:before { content: 'e80b'; } /* '' */
.arrow-90deg-downbi-:before { content: 'e80c'; } /* '' */
.arrow-90deg-leftbi-:before { content: 'e80d'; } /* '' */
.arrow-90deg-rightbi-:before { content: 'e80e'; } /* '' */
.arrow-90deg-upbi-:before { content: 'e80f'; } /* '' */
.arrow-bar-downbi-:before { content: 'e810'; } /* '' */
.arrow-bar-upbi-:before { content: 'e811'; } /* '' */
.arrow-bar-rightbi-:before { content: 'e812'; } /* '' */
.align-topbi-:before { content: 'e813'; } /* '' */
.arrow-clockwisebi-:before { content: 'e814'; } /* '' */
.arrow-counterclockwisebi-:before { content: 'e815'; } /* '' */
.arrow-down-circle-fillbi-:before { content: 'e816'; } /* '' */
.arrow-bar-leftbi-:before { content: 'e817'; } /* '' */
.arrow-down-circlebi-:before { content: 'e818'; } /* '' */
.arrow-down-left-circle-fillbi-:before { content: 'e819'; } /* '' */
.arrow-down-left-circlebi-:before { content: 'e81a'; } /* '' */
.arrow-down-left-square-fillbi-:before { content: 'e81b'; } /* '' */
.arrow-down-left-squarebi-:before { content: 'e81c'; } /* '' */
.arrow-down-leftbi-:before { content: 'e81d'; } /* '' */
.arrow-down-right-circle-fillbi-:before { content: 'e81e'; } /* '' */
.arrow-down-right-circlebi-:before { content: 'e81f'; } /* '' */
.arrow-down-right-square-fillbi-:before { content: 'e820'; } /* '' */
.arrow-down-right-squarebi-:before { content: 'e821'; } /* '' */
.arrow-down-rightbi-:before { content: 'e822'; } /* '' */
.arrow-down-shortbi-:before { content: 'e823'; } /* '' */
.arrow-down-square-fillbi-:before { content: 'e824'; } /* '' */
.arrow-down-squarebi-:before { content: 'e825'; } /* '' */
.arrow-down-upbi-:before { content: 'e826'; } /* '' */
.arrow-downbi-:before { content: 'e827'; } /* '' */
.arrow-left-circle-fillbi-:before { content: 'e828'; } /* '' */
.arrow-left-circlebi-:before { content: 'e829'; } /* '' */
.arrow-left-rightbi-:before { content: 'e82a'; } /* '' */
.arrow-left-shortbi-:before { content: 'e82b'; } /* '' */
.arrow-left-square-fillbi-:before { content: 'e82c'; } /* '' */
.arrow-leftbi-:before { content: 'e82d'; } /* '' */
.arrow-left-squarebi-:before { content: 'e82e'; } /* '' */
.arrow-return-leftbi-:before { content: 'e82f'; } /* '' */
.arrow-repeatbi-:before { content: 'e830'; } /* '' */
.arrow-right-circle-fillbi-:before { content: 'e831'; } /* '' */
.arrow-return-rightbi-:before { content: 'e832'; } /* '' */
.arrow-right-circlebi-:before { content: 'e833'; } /* '' */
.arrow-right-shortbi-:before { content: 'e834'; } /* '' */
.arrow-right-square-fillbi-:before { content: 'e835'; } /* '' */
.arrow-right-squarebi-:before { content: 'e836'; } /* '' */
.arrow-rightbi-:before { content: 'e837'; } /* '' */
.arrow-up-circle-fillbi-:before { content: 'e838'; } /* '' */
.arrow-up-left-circlebi-:before { content: 'e839'; } /* '' */
.arrow-up-left-square-fillbi-:before { content: 'e83a'; } /* '' */
.arrow-up-left-circle-fillbi-:before { content: 'e83b'; } /* '' */
.arrow-up-left-squarebi-:before { content: 'e83c'; } /* '' */
.arrow-up-leftbi-:before { content: 'e83d'; } /* '' */
.arrow-up-right-circle-fillbi-:before { content: 'e83e'; } /* '' */
.arrow-up-right-circlebi-:before { content: 'e83f'; } /* '' */
.arrow-up-circlebi-:before { content: 'e840'; } /* '' */
.arrow-up-right-square-fillbi-:before { content: 'e841'; } /* '' */
.arrow-up-right-squarebi-:before { content: 'e842'; } /* '' */
.arrow-up-rightbi-:before { content: 'e843'; } /* '' */
.arrow-up-square-fillbi-:before { content: 'e844'; } /* '' */
.arrow-up-squarebi-:before { content: 'e845'; } /* '' */
.arrow-upbi-:before { content: 'e846'; } /* '' */
.arrow-up-shortbi-:before { content: 'e847'; } /* '' */
.arrows-angle-contractbi-:before { content: 'e848'; } /* '' */
.arrows-angle-expandbi-:before { content: 'e849'; } /* '' */
.arrows-collapsebi-:before { content: 'e84a'; } /* '' */
.arrows-expandbi-:before { content: 'e84b'; } /* '' */
.arrows-fullscreenbi-:before { content: 'e84c'; } /* '' */
.arrows-movebi-:before { content: 'e84d'; } /* '' */
.aspect-ratio-fillbi-:before { content: 'e84e'; } /* '' */
.asteriskbi-:before { content: 'e84f'; } /* '' */
.atbi-:before { content: 'e850'; } /* '' */
.award-fillbi-:before { content: 'e851'; } /* '' */
.awardbi-:before { content: 'e852'; } /* '' */
.backbi-:before { content: 'e853'; } /* '' */
.backspace-fillbi-:before { content: 'e854'; } /* '' */
.backspace-reverse-fillbi-:before { content: 'e855'; } /* '' */
.backspace-reversebi-:before { content: 'e856'; } /* '' */
.backspacebi-:before { content: 'e857'; } /* '' */
.badge-4k-fillbi-:before { content: 'e858'; } /* '' */
.badge-4kbi-:before { content: 'e859'; } /* '' */
.badge-8k-fillbi-:before { content: 'e85a'; } /* '' */
.badge-8kbi-:before { content: 'e85b'; } /* '' */
.badge-cc-fillbi-:before { content: 'e85c'; } /* '' */
.badge-ccbi-:before { content: 'e85d'; } /* '' */
.badge-hd-fillbi-:before { content: 'e85e'; } /* '' */
.badge-hdbi-:before { content: 'e85f'; } /* '' */
.aspect-ratiobi-:before { content: 'e860'; } /* '' */
.badge-tm-fillbi-:before { content: 'e861'; } /* '' */
.badge-tmbi-:before { content: 'e862'; } /* '' */
.badge-vo-fillbi-:before { content: 'e863'; } /* '' */
.badge-vobi-:before { content: 'e864'; } /* '' */
.bag-checkbi-:before { content: 'e865'; } /* '' */
.bag-dashbi-:before { content: 'e866'; } /* '' */
.bag-fillbi-:before { content: 'e867'; } /* '' */
.bag-plusbi-:before { content: 'e868'; } /* '' */
.bagbi-:before { content: 'e869'; } /* '' */
.bar-chart-linebi-:before { content: 'e86c'; } /* '' */
.bar-chartbi-:before { content: 'e86e'; } /* '' */
.basket-fillbi-:before { content: 'e86f'; } /* '' */
.basketbi-:before { content: 'e870'; } /* '' */
.basket2-fillbi-:before { content: 'e871'; } /* '' */
.basket2bi-:before { content: 'e872'; } /* '' */
.basket3-fillbi-:before { content: 'e873'; } /* '' */
.basket3bi-:before { content: 'e874'; } /* '' */
.battery-chargingbi-:before { content: 'e875'; } /* '' */
.battery-fullbi-:before { content: 'e876'; } /* '' */
.battery-halfbi-:before { content: 'e877'; } /* '' */
.batterybi-:before { content: 'e878'; } /* '' */
.bell-fillbi-:before { content: 'e879'; } /* '' */
.bellbi-:before { content: 'e87a'; } /* '' */
.bezierbi-:before { content: 'e87b'; } /* '' */
.bezier2bi-:before { content: 'e87c'; } /* '' */
.bicyclebi-:before { content: 'e87d'; } /* '' */
.binoculars-fillbi-:before { content: 'e87e'; } /* '' */
.binocularsbi-:before { content: 'e87f'; } /* '' */
.blockquote-leftbi-:before { content: 'e880'; } /* '' */
.blockquote-rightbi-:before { content: 'e881'; } /* '' */
.book-fillbi-:before { content: 'e882'; } /* '' */
.book-halfbi-:before { content: 'e883'; } /* '' */
.bookbi-:before { content: 'e884'; } /* '' */
.bookmark-checkbi-:before { content: 'e885'; } /* '' */
.bookmark-dashbi-:before { content: 'e886'; } /* '' */
.bookmark-fillbi-:before { content: 'e887'; } /* '' */
.bookmark-plusbi-:before { content: 'e888'; } /* '' */
.bookmarkbi-:before { content: 'e889'; } /* '' */
.bookmarks-fillbi-:before { content: 'e88a'; } /* '' */
.bookmarksbi-:before { content: 'e88b'; } /* '' */
.bookshelfbi-:before { content: 'e88c'; } /* '' */
.bootstrap-fillbi-:before { content: 'e88d'; } /* '' */
.bootstrap-rebootbi-:before { content: 'e88e'; } /* '' */
.bootstrapbi-:before { content: 'e88f'; } /* '' */
.border-stylebi-:before { content: 'e890'; } /* '' */
.border-widthbi-:before { content: 'e891'; } /* '' */
.bounding-box-circlesbi-:before { content: 'e892'; } /* '' */
.bounding-boxbi-:before { content: 'e893'; } /* '' */
.box-arrow-down-leftbi-:before { content: 'e894'; } /* '' */
.box-arrow-down-rightbi-:before { content: 'e895'; } /* '' */
.box-arrow-downbi-:before { content: 'e896'; } /* '' */
.box-arrow-in-down-leftbi-:before { content: 'e897'; } /* '' */
.box-arrow-in-down-rightbi-:before { content: 'e898'; } /* '' */
.box-arrow-in-downbi-:before { content: 'e899'; } /* '' */
.box-arrow-in-leftbi-:before { content: 'e89a'; } /* '' */
.box-arrow-in-rightbi-:before { content: 'e89b'; } /* '' */
.box-arrow-in-up-leftbi-:before { content: 'e89c'; } /* '' */
.box-arrow-in-up-rightbi-:before { content: 'e89d'; } /* '' */
.box-arrow-in-upbi-:before { content: 'e89e'; } /* '' */
.box-arrow-leftbi-:before { content: 'e89f'; } /* '' */
.box-arrow-rightbi-:before { content: 'e8a0'; } /* '' */
.box-arrow-up-leftbi-:before { content: 'e8a1'; } /* '' */
.box-arrow-up-rightbi-:before { content: 'e8a2'; } /* '' */
.box-arrow-upbi-:before { content: 'e8a3'; } /* '' */
.box-seambi-:before { content: 'e8a4'; } /* '' */
.boxbi-:before { content: 'e8a5'; } /* '' */
.bracesbi-:before { content: 'e8a6'; } /* '' */
.bricksbi-:before { content: 'e8a7'; } /* '' */
.briefcase-fillbi-:before { content: 'e8a8'; } /* '' */
.briefcasebi-:before { content: 'e8a9'; } /* '' */
.brightness-alt-high-fillbi-:before { content: 'e8aa'; } /* '' */
.brightness-alt-highbi-:before { content: 'e8ab'; } /* '' */
.brightness-alt-low-fillbi-:before { content: 'e8ac'; } /* '' */
.brightness-alt-lowbi-:before { content: 'e8ad'; } /* '' */
.brightness-high-fillbi-:before { content: 'e8ae'; } /* '' */
.brightness-highbi-:before { content: 'e8af'; } /* '' */
.brightness-low-fillbi-:before { content: 'e8b0'; } /* '' */
.brightness-lowbi-:before { content: 'e8b1'; } /* '' */
.broadcast-pinbi-:before { content: 'e8b2'; } /* '' */
.broadcastbi-:before { content: 'e8b3'; } /* '' */
.brushbi-:before { content: 'e8b4'; } /* '' */
.bucket-fillbi-:before { content: 'e8b5'; } /* '' */
.bucketbi-:before { content: 'e8b6'; } /* '' */
.bug-fillbi-:before { content: 'e8b7'; } /* '' */
.bugbi-:before { content: 'e8b8'; } /* '' */
.buildingbi-:before { content: 'e8b9'; } /* '' */
.bullseyebi-:before { content: 'e8ba'; } /* '' */
.calculator-fillbi-:before { content: 'e8bb'; } /* '' */
.calculatorbi-:before { content: 'e8bc'; } /* '' */
.calendar-check-fillbi-:before { content: 'e8bd'; } /* '' */
.calendar-checkbi-:before { content: 'e8be'; } /* '' */
.calendar-date-fillbi-:before { content: 'e8bf'; } /* '' */
.calendar-datebi-:before { content: 'e8c0'; } /* '' */
.calendar-day-fillbi-:before { content: 'e8c1'; } /* '' */
.calendar-daybi-:before { content: 'e8c2'; } /* '' */
.calendar-event-fillbi-:before { content: 'e8c3'; } /* '' */
.calendar-eventbi-:before { content: 'e8c4'; } /* '' */
.calendar-fillbi-:before { content: 'e8c5'; } /* '' */
.calendar-minus-fillbi-:before { content: 'e8c6'; } /* '' */
.calendar-minusbi-:before { content: 'e8c7'; } /* '' */
.calendar-month-fillbi-:before { content: 'e8c8'; } /* '' */
.calendar-monthbi-:before { content: 'e8c9'; } /* '' */
.calendar-plus-fillbi-:before { content: 'e8ca'; } /* '' */
.calendar-plusbi-:before { content: 'e8cb'; } /* '' */
.calendar-range-fillbi-:before { content: 'e8cc'; } /* '' */
.calendar-rangebi-:before { content: 'e8cd'; } /* '' */
.calendar-week-fillbi-:before { content: 'e8ce'; } /* '' */
.calendar-weekbi-:before { content: 'e8cf'; } /* '' */
.calendarbi-:before { content: 'e8d0'; } /* '' */
.calendar2-check-fillbi-:before { content: 'e8d1'; } /* '' */
.calendar2-checkbi-:before { content: 'e8d2'; } /* '' */
.calendar2-date-fillbi-:before { content: 'e8d3'; } /* '' */
.calendar2-datebi-:before { content: 'e8d4'; } /* '' */
.calendar2-day-fillbi-:before { content: 'e8d5'; } /* '' */
.calendar2-daybi-:before { content: 'e8d6'; } /* '' */
.calendar2-event-fillbi-:before { content: 'e8d7'; } /* '' */
.calendar2-eventbi-:before { content: 'e8d8'; } /* '' */
.calendar2-fillbi-:before { content: 'e8d9'; } /* '' */
.calendar2-minus-fillbi-:before { content: 'e8da'; } /* '' */
.calendar2-minusbi-:before { content: 'e8db'; } /* '' */
.calendar2-month-fillbi-:before { content: 'e8dc'; } /* '' */
.calendar2-monthbi-:before { content: 'e8dd'; } /* '' */
.calendar2-plus-fillbi-:before { content: 'e8de'; } /* '' */
.calendar2-plusbi-:before { content: 'e8df'; } /* '' */
.calendar2-range-fillbi-:before { content: 'e8e0'; } /* '' */
.calendar2-rangebi-:before { content: 'e8e1'; } /* '' */
.calendar2-week-fillbi-:before { content: 'e8e2'; } /* '' */
.calendar2-weekbi-:before { content: 'e8e3'; } /* '' */
.calendar2bi-:before { content: 'e8e4'; } /* '' */
.calendar3-event-fillbi-:before { content: 'e8e5'; } /* '' */
.calendar3-eventbi-:before { content: 'e8e6'; } /* '' */
.calendar3-fillbi-:before { content: 'e8e7'; } /* '' */
.calendar3-range-fillbi-:before { content: 'e8e8'; } /* '' */
.calendar3-rangebi-:before { content: 'e8e9'; } /* '' */
.calendar3-week-fillbi-:before { content: 'e8ea'; } /* '' */
.calendar3-weekbi-:before { content: 'e8eb'; } /* '' */
.calendar3bi-:before { content: 'e8ec'; } /* '' */
.calendar4-eventbi-:before { content: 'e8ed'; } /* '' */
.calendar4-rangebi-:before { content: 'e8ee'; } /* '' */
.calendar4-weekbi-:before { content: 'e8ef'; } /* '' */
.calendar4bi-:before { content: 'e8f0'; } /* '' */
.camera-fillbi-:before { content: 'e8f1'; } /* '' */
.camera-reels-fillbi-:before { content: 'e8f2'; } /* '' */
.camera-reelsbi-:before { content: 'e8f3'; } /* '' */
.camera-video-fillbi-:before { content: 'e8f4'; } /* '' */
.camera-video-off-fillbi-:before { content: 'e8f5'; } /* '' */
.camera-video-offbi-:before { content: 'e8f6'; } /* '' */
.camera-videobi-:before { content: 'e8f7'; } /* '' */
.camerabi-:before { content: 'e8f8'; } /* '' */
.camera2bi-:before { content: 'e8f9'; } /* '' */
.capslock-fillbi-:before { content: 'e8fa'; } /* '' */
.capslockbi-:before { content: 'e8fb'; } /* '' */
.card-checklistbi-:before { content: 'e8fc'; } /* '' */
.card-headingbi-:before { content: 'e8fd'; } /* '' */
.card-imagebi-:before { content: 'e8fe'; } /* '' */
.card-listbi-:before { content: 'e8ff'; } /* '' */
.card-textbi-:before { content: 'e900'; } /* '' */
.caret-down-fillbi-:before { content: 'e901'; } /* '' */
.caret-down-square-fillbi-:before { content: 'e902'; } /* '' */
.caret-down-squarebi-:before { content: 'e903'; } /* '' */
.caret-downbi-:before { content: 'e904'; } /* '' */
.caret-left-fillbi-:before { content: 'e905'; } /* '' */
.caret-left-square-fillbi-:before { content: 'e906'; } /* '' */
.caret-left-squarebi-:before { content: 'e907'; } /* '' */
.caret-leftbi-:before { content: 'e908'; } /* '' */
.caret-right-fillbi-:before { content: 'e909'; } /* '' */
.caret-right-square-fillbi-:before { content: 'e90a'; } /* '' */
.caret-right-squarebi-:before { content: 'e90b'; } /* '' */
.caret-rightbi-:before { content: 'e90c'; } /* '' */
.caret-up-fillbi-:before { content: 'e90d'; } /* '' */
.caret-up-square-fillbi-:before { content: 'e90e'; } /* '' */
.caret-up-squarebi-:before { content: 'e90f'; } /* '' */
.caret-upbi-:before { content: 'e910'; } /* '' */
.cart-checkbi-:before { content: 'e911'; } /* '' */
.cart-dashbi-:before { content: 'e912'; } /* '' */
.cart-fillbi-:before { content: 'e913'; } /* '' */
.cart-plusbi-:before { content: 'e914'; } /* '' */
.cartbi-:before { content: 'e915'; } /* '' */
.cart2bi-:before { content: 'e916'; } /* '' */
.cart3bi-:before { content: 'e917'; } /* '' */
.cart4bi-:before { content: 'e918'; } /* '' */
.cash-stackbi-:before { content: 'e919'; } /* '' */
.cashbi-:before { content: 'e91a'; } /* '' */
.castbi-:before { content: 'e91b'; } /* '' */
.chat-dots-fillbi-:before { content: 'e91c'; } /* '' */
.chat-dotsbi-:before { content: 'e91d'; } /* '' */
.chat-fillbi-:before { content: 'e91e'; } /* '' */
.chat-left-dots-fillbi-:before { content: 'e91f'; } /* '' */
.chat-left-dotsbi-:before { content: 'e920'; } /* '' */
.chat-left-fillbi-:before { content: 'e921'; } /* '' */
.chat-left-quote-fillbi-:before { content: 'e922'; } /* '' */
.chat-left-quotebi-:before { content: 'e923'; } /* '' */
.chat-left-text-fillbi-:before { content: 'e924'; } /* '' */
.chat-left-textbi-:before { content: 'e925'; } /* '' */
.chat-leftbi-:before { content: 'e926'; } /* '' */
.chat-quote-fillbi-:before { content: 'e927'; } /* '' */
.chat-quotebi-:before { content: 'e928'; } /* '' */
.chat-right-dots-fillbi-:before { content: 'e929'; } /* '' */
.chat-right-dotsbi-:before { content: 'e92a'; } /* '' */
.chat-right-fillbi-:before { content: 'e92b'; } /* '' */
.chat-right-quote-fillbi-:before { content: 'e92c'; } /* '' */
.chat-right-quotebi-:before { content: 'e92d'; } /* '' */
.chat-right-text-fillbi-:before { content: 'e92e'; } /* '' */
.chat-right-textbi-:before { content: 'e92f'; } /* '' */
.chat-rightbi-:before { content: 'e930'; } /* '' */
.chat-square-dots-fillbi-:before { content: 'e931'; } /* '' */
.chat-square-dotsbi-:before { content: 'e932'; } /* '' */
.chat-square-fillbi-:before { content: 'e933'; } /* '' */
.chat-square-quote-fillbi-:before { content: 'e934'; } /* '' */
.chat-square-quotebi-:before { content: 'e935'; } /* '' */
.chat-square-text-fillbi-:before { content: 'e936'; } /* '' */
.chat-square-textbi-:before { content: 'e937'; } /* '' */
.chat-squarebi-:before { content: 'e938'; } /* '' */
.chat-text-fillbi-:before { content: 'e939'; } /* '' */
.chat-textbi-:before { content: 'e93a'; } /* '' */
.chatbi-:before { content: 'e93b'; } /* '' */
.check-allbi-:before { content: 'e93c'; } /* '' */
.check-circle-fillbi-:before { content: 'e93d'; } /* '' */
.check-circlebi-:before { content: 'e93e'; } /* '' */
.check-square-fillbi-:before { content: 'e93f'; } /* '' */
.check-squarebi-:before { content: 'e940'; } /* '' */
.checkbi-:before { content: 'e941'; } /* '' */
.check2-allbi-:before { content: 'e942'; } /* '' */
.check2-circlebi-:before { content: 'e943'; } /* '' */
.check2-squarebi-:before { content: 'e944'; } /* '' */
.check2bi-:before { content: 'e945'; } /* '' */
.chevron-bar-contractbi-:before { content: 'e946'; } /* '' */
.chevron-bar-downbi-:before { content: 'e947'; } /* '' */
.chevron-bar-expandbi-:before { content: 'e948'; } /* '' */
.chevron-bar-leftbi-:before { content: 'e949'; } /* '' */
.chevron-bar-rightbi-:before { content: 'e94a'; } /* '' */
.chevron-bar-upbi-:before { content: 'e94b'; } /* '' */
.chevron-compact-downbi-:before { content: 'e94c'; } /* '' */
.chevron-compact-leftbi-:before { content: 'e94d'; } /* '' */
.chevron-compact-rightbi-:before { content: 'e94e'; } /* '' */
.chevron-compact-upbi-:before { content: 'e94f'; } /* '' */
.chevron-contractbi-:before { content: 'e950'; } /* '' */
.chevron-double-downbi-:before { content: 'e951'; } /* '' */
.chevron-double-leftbi-:before { content: 'e952'; } /* '' */
.chevron-double-rightbi-:before { content: 'e953'; } /* '' */
.chevron-double-upbi-:before { content: 'e954'; } /* '' */
.chevron-downbi-:before { content: 'e955'; } /* '' */
.chevron-expandbi-:before { content: 'e956'; } /* '' */
.chevron-leftbi-:before { content: 'e957'; } /* '' */
.chevron-rightbi-:before { content: 'e958'; } /* '' */
.chevron-upbi-:before { content: 'e959'; } /* '' */
.circle-halfbi-:before { content: 'e95b'; } /* '' */
.circle-squarebi-:before { content: 'e95c'; } /* '' */
.circlebi-:before { content: 'e95d'; } /* '' */
.clipboard-checkbi-:before { content: 'e95e'; } /* '' */
.clipboard-databi-:before { content: 'e95f'; } /* '' */
.clipboard-minusbi-:before { content: 'e960'; } /* '' */
.clipboard-plusbi-:before { content: 'e961'; } /* '' */
.clipboardbi-:before { content: 'e962'; } /* '' */
.clock-fillbi-:before { content: 'e963'; } /* '' */
.clock-historybi-:before { content: 'e964'; } /* '' */
.clockbi-:before { content: 'e965'; } /* '' */
.cloud-arrow-down-fillbi-:before { content: 'e966'; } /* '' */
.cloud-arrow-downbi-:before { content: 'e967'; } /* '' */
.cloud-arrow-up-fillbi-:before { content: 'e968'; } /* '' */
.cloud-arrow-upbi-:before { content: 'e969'; } /* '' */
.cloud-check-fillbi-:before { content: 'e96a'; } /* '' */
.cloud-checkbi-:before { content: 'e96b'; } /* '' */
.cloud-download-fillbi-:before { content: 'e96c'; } /* '' */
.cloud-downloadbi-:before { content: 'e96d'; } /* '' */
.cloud-fillbi-:before { content: 'e96e'; } /* '' */
.cloud-minus-fillbi-:before { content: 'e96f'; } /* '' */
.cloud-minusbi-:before { content: 'e970'; } /* '' */
.cloud-plus-fillbi-:before { content: 'e971'; } /* '' */
.cloud-plusbi-:before { content: 'e972'; } /* '' */
.cloud-slash-fillbi-:before { content: 'e973'; } /* '' */
.cloud-slashbi-:before { content: 'e974'; } /* '' */
.cloud-upload-fillbi-:before { content: 'e975'; } /* '' */
.cloud-uploadbi-:before { content: 'e976'; } /* '' */
.cloudbi-:before { content: 'e977'; } /* '' */
.code-slashbi-:before { content: 'e978'; } /* '' */
.code-squarebi-:before { content: 'e979'; } /* '' */
.codebi-:before { content: 'e97a'; } /* '' */
.collection-fillbi-:before { content: 'e97b'; } /* '' */
.collection-play-fillbi-:before { content: 'e97c'; } /* '' */
.collection-playbi-:before { content: 'e97d'; } /* '' */
.collectionbi-:before { content: 'e97e'; } /* '' */
.columns-gapbi-:before { content: 'e97f'; } /* '' */
.columnsbi-:before { content: 'e980'; } /* '' */
.commandbi-:before { content: 'e981'; } /* '' */
.compassbi-:before { content: 'e982'; } /* '' */
.cone-stripedbi-:before { content: 'e983'; } /* '' */
.conebi-:before { content: 'e984'; } /* '' */
.controllerbi-:before { content: 'e985'; } /* '' */
.cpu-fillbi-:before { content: 'e986'; } /* '' */
.cpubi-:before { content: 'e987'; } /* '' */
.credit-card-2-back-fillbi-:before { content: 'e988'; } /* '' */
.credit-card-2-backbi-:before { content: 'e989'; } /* '' */
.credit-card-2-front-fillbi-:before { content: 'e98a'; } /* '' */
.credit-card-2-frontbi-:before { content: 'e98b'; } /* '' */
.credit-card-fillbi-:before { content: 'e98c'; } /* '' */
.credit-cardbi-:before { content: 'e98d'; } /* '' */
.cropbi-:before { content: 'e98e'; } /* '' */
.cup-strawbi-:before { content: 'e98f'; } /* '' */
.cupbi-:before { content: 'e990'; } /* '' */
.cursor-fillbi-:before { content: 'e991'; } /* '' */
.cursor-textbi-:before { content: 'e992'; } /* '' */
.cursorbi-:before { content: 'e993'; } /* '' */
.dash-circle-fillbi-:before { content: 'e994'; } /* '' */
.dash-circlebi-:before { content: 'e995'; } /* '' */
.dash-square-fillbi-:before { content: 'e996'; } /* '' */
.dash-squarebi-:before { content: 'e997'; } /* '' */
.dashbi-:before { content: 'e998'; } /* '' */
.diagram-2-fillbi-:before { content: 'e999'; } /* '' */
.diagram-2bi-:before { content: 'e99a'; } /* '' */
.diagram-3-fillbi-:before { content: 'e99b'; } /* '' */
.diagram-3bi-:before { content: 'e99c'; } /* '' */
.diamond-fillbi-:before { content: 'e99d'; } /* '' */
.diamond-halfbi-:before { content: 'e99e'; } /* '' */
.diamondbi-:before { content: 'e99f'; } /* '' */
.dice-1-fillbi-:before { content: 'e9a0'; } /* '' */
.dice-1bi-:before { content: 'e9a1'; } /* '' */
.dice-2-fillbi-:before { content: 'e9a2'; } /* '' */
.dice-2bi-:before { content: 'e9a3'; } /* '' */
.dice-3-fillbi-:before { content: 'e9a4'; } /* '' */
.dice-3bi-:before { content: 'e9a5'; } /* '' */
.dice-4-fillbi-:before { content: 'e9a6'; } /* '' */
.dice-4bi-:before { content: 'e9a7'; } /* '' */
.dice-5-fillbi-:before { content: 'e9a8'; } /* '' */
.dice-5bi-:before { content: 'e9a9'; } /* '' */
.dice-6-fillbi-:before { content: 'e9aa'; } /* '' */
.dice-6bi-:before { content: 'e9ab'; } /* '' */
.display-fillbi-:before { content: 'e9ac'; } /* '' */
.displaybi-:before { content: 'e9ad'; } /* '' */
.distribute-horizontalbi-:before { content: 'e9ae'; } /* '' */
.distribute-verticalbi-:before { content: 'e9af'; } /* '' */
.door-closed-fillbi-:before { content: 'e9b0'; } /* '' */
.door-closedbi-:before { content: 'e9b1'; } /* '' */
.door-open-fillbi-:before { content: 'e9b2'; } /* '' */
.door-openbi-:before { content: 'e9b3'; } /* '' */
.dotbi-:before { content: 'e9b4'; } /* '' */
.downloadbi-:before { content: 'e9b5'; } /* '' */
.droplet-fillbi-:before { content: 'e9b6'; } /* '' */
.droplet-halfbi-:before { content: 'e9b7'; } /* '' */
.dropletbi-:before { content: 'e9b8'; } /* '' */
.earbudsbi-:before { content: 'e9b9'; } /* '' */
.easel-fillbi-:before { content: 'e9ba'; } /* '' */
.easelbi-:before { content: 'e9bb'; } /* '' */
.egg-fillbi-:before { content: 'e9bc'; } /* '' */
.eggbi-:before { content: 'e9be'; } /* '' */
.eject-fillbi-:before { content: 'e9bf'; } /* '' */
.ejectbi-:before { content: 'e9c0'; } /* '' */
.emoji-angrybi-:before { content: 'e9c1'; } /* '' */
.emoji-dizzybi-:before { content: 'e9c2'; } /* '' */
.emoji-expressionlessbi-:before { content: 'e9c3'; } /* '' */
.emoji-frownbi-:before { content: 'e9c4'; } /* '' */
.emoji-laughingbi-:before { content: 'e9c5'; } /* '' */
.emoji-neutralbi-:before { content: 'e9c6'; } /* '' */
.emoji-smile-upside-downbi-:before { content: 'e9c7'; } /* '' */
.emoji-smilebi-:before { content: 'e9c8'; } /* '' */
.emoji-sunglassesbi-:before { content: 'e9c9'; } /* '' */
.envelope-fillbi-:before { content: 'e9ca'; } /* '' */
.envelope-open-fillbi-:before { content: 'e9cb'; } /* '' */
.envelope-openbi-:before { content: 'e9cc'; } /* '' */
.envelopebi-:before { content: 'e9cd'; } /* '' */
.exclamation-circle-fillbi-:before { content: 'e9ce'; } /* '' */
.exclamation-circlebi-:before { content: 'e9cf'; } /* '' */
.exclamation-diamond-fillbi-:before { content: 'e9d0'; } /* '' */
.exclamation-diamondbi-:before { content: 'e9d1'; } /* '' */
.exclamation-octagon-fillbi-:before { content: 'e9d2'; } /* '' */
.exclamation-octagonbi-:before { content: 'e9d3'; } /* '' */
.exclamation-square-fillbi-:before { content: 'e9d4'; } /* '' */
.exclamation-squarebi-:before { content: 'e9d5'; } /* '' */
.exclamation-triangle-fillbi-:before { content: 'e9d6'; } /* '' */
.exclamation-trianglebi-:before { content: 'e9d7'; } /* '' */
.exclamationbi-:before { content: 'e9d8'; } /* '' */
.excludebi-:before { content: 'e9d9'; } /* '' */
.eye-fillbi-:before { content: 'e9da'; } /* '' */
.eye-slash-fillbi-:before { content: 'e9db'; } /* '' */
.eye-slashbi-:before { content: 'e9dc'; } /* '' */
.eyebi-:before { content: 'e9dd'; } /* '' */
.eyeglassesbi-:before { content: 'e9de'; } /* '' */
.file-arrow-down-fillbi-:before { content: 'e9df'; } /* '' */
.file-arrow-downbi-:before { content: 'e9e0'; } /* '' */
.file-arrow-up-fillbi-:before { content: 'e9e1'; } /* '' */
.file-arrow-upbi-:before { content: 'e9e2'; } /* '' */
.file-binary-fillbi-:before { content: 'e9e3'; } /* '' */
.file-binarybi-:before { content: 'e9e4'; } /* '' */
.file-break-fillbi-:before { content: 'e9e5'; } /* '' */
.file-breakbi-:before { content: 'e9e6'; } /* '' */
.file-check-fillbi-:before { content: 'e9e7'; } /* '' */
.file-checkbi-:before { content: 'e9e8'; } /* '' */
.file-code-fillbi-:before { content: 'e9e9'; } /* '' */
.file-codebi-:before { content: 'e9ea'; } /* '' */
.file-diff-fillbi-:before { content: 'e9eb'; } /* '' */
.file-diffbi-:before { content: 'e9ec'; } /* '' */
.file-earmark-arrow-downbi-:before { content: 'e9ed'; } /* '' */
.file-earmark-arrow-up-fillbi-:before { content: 'e9ee'; } /* '' */
.file-earmark-arrow-upbi-:before { content: 'e9ef'; } /* '' */
.file-earmark-binary-fillbi-:before { content: 'e9f0'; } /* '' */
.file-earmark-binarybi-:before { content: 'e9f1'; } /* '' */
.file-earmark-break-fillbi-:before { content: 'e9f2'; } /* '' */
.file-earmark-breakbi-:before { content: 'e9f3'; } /* '' */
.file-earmark-check-fillbi-:before { content: 'e9f4'; } /* '' */
.file-earmark-checkbi-:before { content: 'e9f5'; } /* '' */
.file-earmark-code-fillbi-:before { content: 'e9f6'; } /* '' */
.file-earmark-codebi-:before { content: 'e9f7'; } /* '' */
.file-earmark-diff-fillbi-:before { content: 'e9f8'; } /* '' */
.file-earmark-diffbi-:before { content: 'e9f9'; } /* '' */
.file-earmark-fillbi-:before { content: 'e9fa'; } /* '' */
.file-earmark-medical-fillbi-:before { content: 'e9fb'; } /* '' */
.file-earmark-medicalbi-:before { content: 'e9fc'; } /* '' */
.file-earmark-minus-fillbi-:before { content: 'e9fd'; } /* '' */
.file-earmark-minusbi-:before { content: 'e9fe'; } /* '' */
.file-earmark-plus-fillbi-:before { content: 'e9ff'; } /* '' */
.file-earmark-plusbi-:before { content: 'ea00'; } /* '' */
.file-earmark-ruled-fillbi-:before { content: 'ea01'; } /* '' */
.file-earmark-ruledbi-:before { content: 'ea02'; } /* '' */
.file-earmark-spreadsheet-fillbi-:before { content: 'ea03'; } /* '' */
.file-earmark-spreadsheetbi-:before { content: 'ea04'; } /* '' */
.file-earmark-text-fillbi-:before { content: 'ea05'; } /* '' */
.file-earmark-textbi-:before { content: 'ea06'; } /* '' */
.file-earmark-zip-fillbi-:before { content: 'ea07'; } /* '' */
.file-earmark-zipbi-:before { content: 'ea08'; } /* '' */
.file-earmarkbi-:before { content: 'ea09'; } /* '' */
.file-fillbi-:before { content: 'ea0a'; } /* '' */
.file-medical-fillbi-:before { content: 'ea0b'; } /* '' */
.file-medicalbi-:before { content: 'ea0c'; } /* '' */
.file-minus-fillbi-:before { content: 'ea0d'; } /* '' */
.file-minusbi-:before { content: 'ea0e'; } /* '' */
.file-music-fillbi-:before { content: 'ea0f'; } /* '' */
.file-musicbi-:before { content: 'ea10'; } /* '' */
.file-person-fillbi-:before { content: 'ea11'; } /* '' */
.file-personbi-:before { content: 'ea12'; } /* '' */
.file-plus-fillbi-:before { content: 'ea13'; } /* '' */
.file-plusbi-:before { content: 'ea14'; } /* '' */
.file-post-fillbi-:before { content: 'ea15'; } /* '' */
.file-postbi-:before { content: 'ea16'; } /* '' */
.file-richtext-fillbi-:before { content: 'ea17'; } /* '' */
.file-richtextbi-:before { content: 'ea18'; } /* '' */
.file-ruled-fillbi-:before { content: 'ea19'; } /* '' */
.file-ruledbi-:before { content: 'ea1a'; } /* '' */
.file-spreadsheet-fillbi-:before { content: 'ea1b'; } /* '' */
.file-spreadsheetbi-:before { content: 'ea1c'; } /* '' */
.file-text-fillbi-:before { content: 'ea1d'; } /* '' */
.file-textbi-:before { content: 'ea1e'; } /* '' */
.file-zip-fillbi-:before { content: 'ea1f'; } /* '' */
.file-zipbi-:before { content: 'ea20'; } /* '' */
.filebi-:before { content: 'ea21'; } /* '' */
.files-altbi-:before { content: 'ea22'; } /* '' */
.filesbi-:before { content: 'ea23'; } /* '' */
.filmbi-:before { content: 'ea24'; } /* '' */
.filter-circle-fillbi-:before { content: 'ea25'; } /* '' */
.filter-circlebi-:before { content: 'ea26'; } /* '' */
.filter-leftbi-:before { content: 'ea27'; } /* '' */
.filter-rightbi-:before { content: 'ea28'; } /* '' */
.filter-square-fillbi-:before { content: 'ea29'; } /* '' */
.filter-squarebi-:before { content: 'ea2a'; } /* '' */
.filterbi-:before { content: 'ea2b'; } /* '' */
.flag-fillbi-:before { content: 'ea2c'; } /* '' */
.flagbi-:before { content: 'ea2d'; } /* '' */
.flower1bi-:before { content: 'ea2e'; } /* '' */
.flower2bi-:before { content: 'ea2f'; } /* '' */
.flower3bi-:before { content: 'ea30'; } /* '' */
.folder-checkbi-:before { content: 'ea31'; } /* '' */
.folder-fillbi-:before { content: 'ea32'; } /* '' */
.folder-minusbi-:before { content: 'ea33'; } /* '' */
.folder-plusbi-:before { content: 'ea34'; } /* '' */
.folder-symlink-fillbi-:before { content: 'ea35'; } /* '' */
.folder-symlinkbi-:before { content: 'ea36'; } /* '' */
.folderbi-:before { content: 'ea37'; } /* '' */
.folder2-openbi-:before { content: 'ea38'; } /* '' */
.folder2bi-:before { content: 'ea39'; } /* '' */
.fontsbi-:before { content: 'ea3a'; } /* '' */
.forward-fillbi-:before { content: 'ea3b'; } /* '' */
.forwardbi-:before { content: 'ea3c'; } /* '' */
.frontbi-:before { content: 'ea3d'; } /* '' */
.fullscreen-exitbi-:before { content: 'ea3e'; } /* '' */
.fullscreenbi-:before { content: 'ea3f'; } /* '' */
.funnel-fillbi-:before { content: 'ea40'; } /* '' */
.funnelbi-:before { content: 'ea41'; } /* '' */
.gear-fillbi-:before { content: 'ea42'; } /* '' */
.gear-wide-connectedbi-:before { content: 'ea43'; } /* '' */
.gear-widebi-:before { content: 'ea44'; } /* '' */
.gearbi-:before { content: 'ea45'; } /* '' */
.gembi-:before { content: 'ea46'; } /* '' */
.geo-altbi-:before { content: 'ea47'; } /* '' */
.geobi-:before { content: 'ea48'; } /* '' */
.gift-fillbi-:before { content: 'ea49'; } /* '' */
.giftbi-:before { content: 'ea4a'; } /* '' */
.globebi-:before { content: 'ea4b'; } /* '' */
.globe2bi-:before { content: 'ea4c'; } /* '' */
.graph-downbi-:before { content: 'ea4d'; } /* '' */
.graph-upbi-:before { content: 'ea4e'; } /* '' */
.grid-1x2-fillbi-:before { content: 'ea4f'; } /* '' */
.grid-1x2bi-:before { content: 'ea50'; } /* '' */
.grid-3x2-gap-fillbi-:before { content: 'ea51'; } /* '' */
.grid-3x2-gapbi-:before { content: 'ea52'; } /* '' */
.grid-3x2bi-:before { content: 'ea53'; } /* '' */
.grid-3x3-gap-fillbi-:before { content: 'ea54'; } /* '' */
.grid-3x3-gapbi-:before { content: 'ea55'; } /* '' */
.grid-3x3bi-:before { content: 'ea56'; } /* '' */
.grid-fillbi-:before { content: 'ea57'; } /* '' */
.gridbi-:before { content: 'ea58'; } /* '' */
.grip-horizontalbi-:before { content: 'ea59'; } /* '' */
.grip-verticalbi-:before { content: 'ea5a'; } /* '' */
.hammerbi-:before { content: 'ea5b'; } /* '' */
.hand-index-thumbbi-:before { content: 'ea5c'; } /* '' */
.hand-indexbi-:before { content: 'ea5d'; } /* '' */
.hand-thumbs-downbi-:before { content: 'ea5e'; } /* '' */
.hand-thumbs-upbi-:before { content: 'ea5f'; } /* '' */
.handbag-fillbi-:before { content: 'ea60'; } /* '' */
.handbagbi-:before { content: 'ea61'; } /* '' */
.hashbi-:before { content: 'ea62'; } /* '' */
.hdd-fillbi-:before { content: 'ea63'; } /* '' */
.hdd-network-fillbi-:before { content: 'ea64'; } /* '' */
.hdd-networkbi-:before { content: 'ea65'; } /* '' */
.hdd-rack-fillbi-:before { content: 'ea66'; } /* '' */
.hdd-rackbi-:before { content: 'ea67'; } /* '' */
.hdd-stack-fillbi-:before { content: 'ea68'; } /* '' */
.hdd-stackbi-:before { content: 'ea69'; } /* '' */
.hddbi-:before { content: 'ea6a'; } /* '' */
.headphonesbi-:before { content: 'ea6b'; } /* '' */
.headsetbi-:before { content: 'ea6c'; } /* '' */
.heart-fillbi-:before { content: 'ea6d'; } /* '' */
.heart-halfbi-:before { content: 'ea6e'; } /* '' */
.heartbi-:before { content: 'ea6f'; } /* '' */
.heptagon-fillbi-:before { content: 'ea70'; } /* '' */
.heptagon-halfbi-:before { content: 'ea71'; } /* '' */
.heptagonbi-:before { content: 'ea72'; } /* '' */
.hexagon-fillbi-:before { content: 'ea73'; } /* '' */
.hexagon-halfbi-:before { content: 'ea74'; } /* '' */
.hexagonbi-:before { content: 'ea75'; } /* '' */
.hourglass-bottombi-:before { content: 'ea76'; } /* '' */
.hourglass-splitbi-:before { content: 'ea77'; } /* '' */
.hourglass-topbi-:before { content: 'ea78'; } /* '' */
.hourglassbi-:before { content: 'ea79'; } /* '' */
.house-door-fillbi-:before { content: 'ea7a'; } /* '' */
.house-doorbi-:before { content: 'ea7b'; } /* '' */
.house-fillbi-:before { content: 'ea7c'; } /* '' */
.housebi-:before { content: 'ea7d'; } /* '' */
.hrbi-:before { content: 'ea7e'; } /* '' */
.image-altbi-:before { content: 'ea7f'; } /* '' */
.image-fillbi-:before { content: 'ea80'; } /* '' */
.imagebi-:before { content: 'ea81'; } /* '' */
.imagesbi-:before { content: 'ea82'; } /* '' */
.inbox-fillbi-:before { content: 'ea83'; } /* '' */
.inboxbi-:before { content: 'ea84'; } /* '' */
.inboxes-fillbi-:before { content: 'ea85'; } /* '' */
.inboxesbi-:before { content: 'ea86'; } /* '' */
.info-circle-fillbi-:before { content: 'ea87'; } /* '' */
.info-square-fillbi-:before { content: 'ea89'; } /* '' */
.input-cursor-textbi-:before { content: 'ea8c'; } /* '' */
.input-cursorbi-:before { content: 'ea8d'; } /* '' */
.intersectbi-:before { content: 'ea8e'; } /* '' */
.journal-albumbi-:before { content: 'ea8f'; } /* '' */
.journal-arrow-downbi-:before { content: 'ea90'; } /* '' */
.journal-arrow-upbi-:before { content: 'ea91'; } /* '' */
.journal-checkbi-:before { content: 'ea92'; } /* '' */
.journal-codebi-:before { content: 'ea93'; } /* '' */
.journal-medicalbi-:before { content: 'ea94'; } /* '' */
.journal-minusbi-:before { content: 'ea95'; } /* '' */
.journal-plusbi-:before { content: 'ea96'; } /* '' */
.journal-richtextbi-:before { content: 'ea97'; } /* '' */
.journal-textbi-:before { content: 'ea98'; } /* '' */
.journalbi-:before { content: 'ea99'; } /* '' */
.journalsbi-:before { content: 'ea9a'; } /* '' */
.joystickbi-:before { content: 'ea9b'; } /* '' */
.justify-leftbi-:before { content: 'ea9c'; } /* '' */
.justify-rightbi-:before { content: 'ea9d'; } /* '' */
.justifybi-:before { content: 'ea9e'; } /* '' */
.kanban-fillbi-:before { content: 'ea9f'; } /* '' */
.kanbanbi-:before { content: 'eaa0'; } /* '' */
.key-fillbi-:before { content: 'eaa1'; } /* '' */
.keybi-:before { content: 'eaa2'; } /* '' */
.keyboard-fillbi-:before { content: 'eaa3'; } /* '' */
.keyboardbi-:before { content: 'eaa4'; } /* '' */
.ladderbi-:before { content: 'eaa5'; } /* '' */
.lamp-fillbi-:before { content: 'eaa6'; } /* '' */
.lampbi-:before { content: 'eaa7'; } /* '' */
.laptop-fillbi-:before { content: 'eaa8'; } /* '' */
.laptopbi-:before { content: 'eaa9'; } /* '' */
.layers-fillbi-:before { content: 'eaaa'; } /* '' */
.layers-halfbi-:before { content: 'eaab'; } /* '' */
.layersbi-:before { content: 'eaac'; } /* '' */
.layout-sidebar-inset-reversebi-:before { content: 'eaad'; } /* '' */
.layout-sidebar-insetbi-:before { content: 'eaae'; } /* '' */
.layout-sidebar-reversebi-:before { content: 'eaaf'; } /* '' */
.layout-sidebarbi-:before { content: 'eab0'; } /* '' */
.layout-splitbi-:before { content: 'eab1'; } /* '' */
.layout-text-sidebar-reversebi-:before { content: 'eab2'; } /* '' */
.layout-text-sidebarbi-:before { content: 'eab3'; } /* '' */
.layout-text-window-reversebi-:before { content: 'eab4'; } /* '' */
.layout-text-windowbi-:before { content: 'eab5'; } /* '' */
.layout-three-columnsbi-:before { content: 'eab6'; } /* '' */
.layout-wtfbi-:before { content: 'eab7'; } /* '' */
.life-preserverbi-:before { content: 'eab8'; } /* '' */
.lightning-fillbi-:before { content: 'eab9'; } /* '' */
.lightningbi-:before { content: 'eaba'; } /* '' */
.link-45degbi-:before { content: 'eabb'; } /* '' */
.linkbi-:before { content: 'eabc'; } /* '' */
.list-checkbi-:before { content: 'eabd'; } /* '' */
.list-nestedbi-:before { content: 'eabe'; } /* '' */
.list-olbi-:before { content: 'eabf'; } /* '' */
.list-starsbi-:before { content: 'eac0'; } /* '' */
.list-taskbi-:before { content: 'eac1'; } /* '' */
.list-ulbi-:before { content: 'eac2'; } /* '' */
.listbi-:before { content: 'eac3'; } /* '' */
.lock-fillbi-:before { content: 'eac4'; } /* '' */
.lockbi-:before { content: 'eac5'; } /* '' */
.mailboxbi-:before { content: 'eac6'; } /* '' */
.mailbox2bi-:before { content: 'eac7'; } /* '' */
.mapbi-:before { content: 'eac8'; } /* '' */
.markdown-fillbi-:before { content: 'eac9'; } /* '' */
.markdownbi-:before { content: 'eaca'; } /* '' */
.menu-app-fillbi-:before { content: 'eacb'; } /* '' */
.menu-appbi-:before { content: 'eacc'; } /* '' */
.menu-button-fillbi-:before { content: 'eacd'; } /* '' */
.menu-button-wide-fillbi-:before { content: 'eace'; } /* '' */
.menu-button-widebi-:before { content: 'eacf'; } /* '' */
.menu-buttonbi-:before { content: 'ead0'; } /* '' */
.menu-downbi-:before { content: 'ead1'; } /* '' */
.menu-upbi-:before { content: 'ead2'; } /* '' */
.mic-fillbi-:before { content: 'ead3'; } /* '' */
.mic-mute-fillbi-:before { content: 'ead4'; } /* '' */
.mic-mutebi-:before { content: 'ead5'; } /* '' */
.micbi-:before { content: 'ead6'; } /* '' */
.minecart-loadedbi-:before { content: 'ead7'; } /* '' */
.minecartbi-:before { content: 'ead8'; } /* '' */
.moonbi-:before { content: 'ead9'; } /* '' */
.mousebi-:before { content: 'eada'; } /* '' */
.mouse2bi-:before { content: 'eadb'; } /* '' */
.mouse3bi-:before { content: 'eadc'; } /* '' */
.music-note-beamedbi-:before { content: 'eadd'; } /* '' */
.music-note-listbi-:before { content: 'eade'; } /* '' */
.music-notebi-:before { content: 'eadf'; } /* '' */
.music-player-fillbi-:before { content: 'eae0'; } /* '' */
.music-playerbi-:before { content: 'eae1'; } /* '' */
.newspaperbi-:before { content: 'eae2'; } /* '' */
.node-minus-fillbi-:before { content: 'eae3'; } /* '' */
.node-minusbi-:before { content: 'eae4'; } /* '' */
.node-plus-fillbi-:before { content: 'eae5'; } /* '' */
.node-plusbi-:before { content: 'eae6'; } /* '' */
.nut-fillbi-:before { content: 'eae7'; } /* '' */
.nutbi-:before { content: 'eae8'; } /* '' */
.octagon-fillbi-:before { content: 'eae9'; } /* '' */
.octagon-halfbi-:before { content: 'eaea'; } /* '' */
.octagonbi-:before { content: 'eaeb'; } /* '' */
.optionbi-:before { content: 'eaec'; } /* '' */
.outletbi-:before { content: 'eaed'; } /* '' */
.paperclipbi-:before { content: 'eaee'; } /* '' */
.paragraphbi-:before { content: 'eaef'; } /* '' */
.patch-check-fllbi-:before { content: 'eaf0'; } /* '' */
.patch-checkbi-:before { content: 'eaf1'; } /* '' */
.patch-exclamation-fllbi-:before { content: 'eaf2'; } /* '' */
.patch-exclamationbi-:before { content: 'eaf3'; } /* '' */
.patch-minus-fllbi-:before { content: 'eaf4'; } /* '' */
.patch-minusbi-:before { content: 'eaf5'; } /* '' */
.patch-plus-fllbi-:before { content: 'eaf6'; } /* '' */
.patch-plusbi-:before { content: 'eaf7'; } /* '' */
.patch-question-fllbi-:before { content: 'eaf8'; } /* '' */
.patch-questionbi-:before { content: 'eaf9'; } /* '' */
.pause-fillbi-:before { content: 'eafa'; } /* '' */
.pausebi-:before { content: 'eafb'; } /* '' */
.peace-fillbi-:before { content: 'eafc'; } /* '' */
.peacebi-:before { content: 'eafd'; } /* '' */
.penbi-:before { content: 'eafe'; } /* '' */
.pencil-squarebi-:before { content: 'eaff'; } /* '' */
.pencilbi-:before { content: 'eb00'; } /* '' */
.pentagon-fillbi-:before { content: 'eb01'; } /* '' */
.pentagon-halfbi-:before { content: 'eb02'; } /* '' */
.pentagonbi-:before { content: 'eb03'; } /* '' */
.people-fillbi-:before { content: 'eb04'; } /* '' */
.peoplebi-:before { content: 'eb05'; } /* '' */
.percentbi-:before { content: 'eb06'; } /* '' */
.person-badge-fillbi-:before { content: 'eb07'; } /* '' */
.person-badgebi-:before { content: 'eb08'; } /* '' */
.person-bounding-boxbi-:before { content: 'eb09'; } /* '' */
.person-check-fillbi-:before { content: 'eb0a'; } /* '' */
.person-checkbi-:before { content: 'eb0b'; } /* '' */
.person-circlebi-:before { content: 'eb0c'; } /* '' */
.person-dash-fillbi-:before { content: 'eb0d'; } /* '' */
.person-dashbi-:before { content: 'eb0e'; } /* '' */
.person-fillbi-:before { content: 'eb0f'; } /* '' */
.person-lines-fillbi-:before { content: 'eb10'; } /* '' */
.person-plus-fillbi-:before { content: 'eb11'; } /* '' */
.person-plusbi-:before { content: 'eb12'; } /* '' */
.person-squarebi-:before { content: 'eb13'; } /* '' */
.personbi-:before { content: 'eb14'; } /* '' */
.phone-fillbi-:before { content: 'eb15'; } /* '' */
.phone-landscape-fillbi-:before { content: 'eb16'; } /* '' */
.phone-landscapebi-:before { content: 'eb17'; } /* '' */
.phonebi-:before { content: 'eb18'; } /* '' */
.pie-chart-fillbi-:before { content: 'eb19'; } /* '' */
.pie-chartbi-:before { content: 'eb1a'; } /* '' */
.pip-fillbi-:before { content: 'eb1b'; } /* '' */
.pipbi-:before { content: 'eb1c'; } /* '' */
.play-fillbi-:before { content: 'eb1d'; } /* '' */
.playbi-:before { content: 'eb1e'; } /* '' */
.plugbi-:before { content: 'eb1f'; } /* '' */
.plus-circle-fillbi-:before { content: 'eb20'; } /* '' */
.plus-circlebi-:before { content: 'eb21'; } /* '' */
.plus-square-fillbi-:before { content: 'eb22'; } /* '' */
.plus-squarebi-:before { content: 'eb23'; } /* '' */
.plusbi-:before { content: 'eb24'; } /* '' */
.powerbi-:before { content: 'eb25'; } /* '' */
.printer-fillbi-:before { content: 'eb26'; } /* '' */
.printerbi-:before { content: 'eb27'; } /* '' */
.puzzle-fillbi-:before { content: 'eb28'; } /* '' */
.puzzlebi-:before { content: 'eb29'; } /* '' */
.question-circle-fillbi-:before { content: 'eb2a'; } /* '' */
.question-circlebi-:before { content: 'eb2b'; } /* '' */
.question-diamond-fillbi-:before { content: 'eb2c'; } /* '' */
.question-diamondbi-:before { content: 'eb2d'; } /* '' */
.question-octagon-fillbi-:before { content: 'eb2e'; } /* '' */
.question-octagonbi-:before { content: 'eb2f'; } /* '' */
.question-square-fillbi-:before { content: 'eb30'; } /* '' */
.question-squarebi-:before { content: 'eb31'; } /* '' */
.questionbi-:before { content: 'eb32'; } /* '' */
.receipt-cutoffbi-:before { content: 'eb33'; } /* '' */
.receiptbi-:before { content: 'eb34'; } /* '' */
.reception-0bi-:before { content: 'eb35'; } /* '' */
.reception-1bi-:before { content: 'eb36'; } /* '' */
.reception-2bi-:before { content: 'eb37'; } /* '' */
.reception-3bi-:before { content: 'eb38'; } /* '' */
.reception-4bi-:before { content: 'eb39'; } /* '' */
.reply-all-fillbi-:before { content: 'eb3a'; } /* '' */
.reply-allbi-:before { content: 'eb3b'; } /* '' */
.reply-fillbi-:before { content: 'eb3c'; } /* '' */
.replybi-:before { content: 'eb3d'; } /* '' */
.rss-fillbi-:before { content: 'eb3e'; } /* '' */
.rssbi-:before { content: 'eb3f'; } /* '' */
.screwdriverbi-:before { content: 'eb40'; } /* '' */
.searchbi-:before { content: 'eb41'; } /* '' */
.segmented-navbi-:before { content: 'eb42'; } /* '' */
.share-fillbi-:before { content: 'eb44'; } /* '' */
.sharebi-:before { content: 'eb45'; } /* '' */
.shield-checkbi-:before { content: 'eb46'; } /* '' */
.shield-exclamationbi-:before { content: 'eb47'; } /* '' */
.shield-fill-checkbi-:before { content: 'eb48'; } /* '' */
.shield-fill-exclamationbi-:before { content: 'eb49'; } /* '' */
.shield-fill-minusbi-:before { content: 'eb4a'; } /* '' */
.shield-fill-plusbi-:before { content: 'eb4b'; } /* '' */
.shield-fillbi-:before { content: 'eb4c'; } /* '' */
.shield-lock-fillbi-:before { content: 'eb4d'; } /* '' */
.shield-lockbi-:before { content: 'eb4e'; } /* '' */
.shield-minusbi-:before { content: 'eb4f'; } /* '' */
.shield-plusbi-:before { content: 'eb50'; } /* '' */
.shield-shadedbi-:before { content: 'eb51'; } /* '' */
.shield-slash-fillbi-:before { content: 'eb52'; } /* '' */
.shield-slashbi-:before { content: 'eb53'; } /* '' */
.shieldbi-:before { content: 'eb54'; } /* '' */
.shift-fillbi-:before { content: 'eb55'; } /* '' */
.shiftbi-:before { content: 'eb56'; } /* '' */
.shop-windowbi-:before { content: 'eb57'; } /* '' */
.shopbi-:before { content: 'eb58'; } /* '' */
.shufflebi-:before { content: 'eb59'; } /* '' */
.signpost-2-fillbi-:before { content: 'eb5a'; } /* '' */
.signpost-2bi-:before { content: 'eb5b'; } /* '' */
.signpost-fillbi-:before { content: 'eb5c'; } /* '' */
.signpost-split-fillbi-:before { content: 'eb5d'; } /* '' */
.signpost-splitbi-:before { content: 'eb5e'; } /* '' */
.signpostbi-:before { content: 'eb5f'; } /* '' */
.sim-fillbi-:before { content: 'eb60'; } /* '' */
.simbi-:before { content: 'eb61'; } /* '' */
.skip-backward-fillbi-:before { content: 'eb62'; } /* '' */
.skip-backwardbi-:before { content: 'eb63'; } /* '' */
.skip-end-fillbi-:before { content: 'eb64'; } /* '' */
.skip-endbi-:before { content: 'eb65'; } /* '' */
.skip-forward-fillbi-:before { content: 'eb66'; } /* '' */
.skip-forwardbi-:before { content: 'eb67'; } /* '' */
.skip-start-fillbi-:before { content: 'eb68'; } /* '' */
.skip-startbi-:before { content: 'eb69'; } /* '' */
.slash-circle-fillbi-:before { content: 'eb6a'; } /* '' */
.slash-circlebi-:before { content: 'eb6b'; } /* '' */
.slash-square-fillbi-:before { content: 'eb6c'; } /* '' */
.slash-squarebi-:before { content: 'eb6d'; } /* '' */
.slashbi-:before { content: 'eb6e'; } /* '' */
.slidersbi-:before { content: 'eb6f'; } /* '' */
.smartwatchbi-:before { content: 'eb70'; } /* '' */
.sort-alpha-down-altbi-:before { content: 'eb71'; } /* '' */
.sort-alpha-downbi-:before { content: 'eb72'; } /* '' */
.sort-alpha-up-altbi-:before { content: 'eb73'; } /* '' */
.sort-alpha-upbi-:before { content: 'eb74'; } /* '' */
.sort-down-altbi-:before { content: 'eb75'; } /* '' */
.sort-downbi-:before { content: 'eb76'; } /* '' */
.sort-numeric-down-altbi-:before { content: 'eb77'; } /* '' */
.sort-numeric-downbi-:before { content: 'eb78'; } /* '' */
.sort-numeric-up-altbi-:before { content: 'eb79'; } /* '' */
.sort-numeric-upbi-:before { content: 'eb7a'; } /* '' */
.sort-up-altbi-:before { content: 'eb7b'; } /* '' */
.sort-upbi-:before { content: 'eb7c'; } /* '' */
.soundwavebi-:before { content: 'eb7d'; } /* '' */
.speakerbi-:before { content: 'eb7e'; } /* '' */
.spellcheckbi-:before { content: 'eb7f'; } /* '' */
.square-fillbi-:before { content: 'eb80'; } /* '' */
.square-halfbi-:before { content: 'eb81'; } /* '' */
.squarebi-:before { content: 'eb82'; } /* '' */
.star-fillbi-:before { content: 'eb83'; } /* '' */
.star-halfbi-:before { content: 'eb84'; } /* '' */
.starbi-:before { content: 'eb85'; } /* '' */
.stickies-fillbi-:before { content: 'eb86'; } /* '' */
.stickiesbi-:before { content: 'eb87'; } /* '' */
.sticky-fillbi-:before { content: 'eb88'; } /* '' */
.stickybi-:before { content: 'eb89'; } /* '' */
.stop-fillbi-:before { content: 'eb8a'; } /* '' */
.stopbi-:before { content: 'eb8b'; } /* '' */
.stoplights-fillbi-:before { content: 'eb8c'; } /* '' */
.stoplightsbi-:before { content: 'eb8d'; } /* '' */
.stopwatch-fillbi-:before { content: 'eb8e'; } /* '' */
.stopwatchbi-:before { content: 'eb8f'; } /* '' */
.subtractbi-:before { content: 'eb90'; } /* '' */
.suit-club-fillbi-:before { content: 'eb91'; } /* '' */
.suit-clubbi-:before { content: 'eb92'; } /* '' */
.suit-diamond-fillbi-:before { content: 'eb93'; } /* '' */
.suit-diamondbi-:before { content: 'eb94'; } /* '' */
.suit-heart-fillbi-:before { content: 'eb95'; } /* '' */
.suit-heartbi-:before { content: 'eb96'; } /* '' */
.suit-spade-fillbi-:before { content: 'eb97'; } /* '' */
.suit-spadebi-:before { content: 'eb98'; } /* '' */
.sunbi-:before { content: 'eb99'; } /* '' */
.sunglassesbi-:before { content: 'eb9a'; } /* '' */
.tablebi-:before { content: 'eb9b'; } /* '' */
.tablet-fillbi-:before { content: 'eb9c'; } /* '' */
.tablet-landscape-fillbi-:before { content: 'eb9d'; } /* '' */
.tablet-landscapebi-:before { content: 'eb9e'; } /* '' */
.tabletbi-:before { content: 'eb9f'; } /* '' */
.tag-fillbi-:before { content: 'eba0'; } /* '' */
.tagbi-:before { content: 'eba1'; } /* '' */
.tags-fillbi-:before { content: 'eba2'; } /* '' */
.tagsbi-:before { content: 'eba3'; } /* '' */
.telephone-fillbi-:before { content: 'eba4'; } /* '' */
.telephone-forward-fillbi-:before { content: 'eba5'; } /* '' */
.telephone-forwardbi-:before { content: 'eba6'; } /* '' */
.telephone-inbound-fillbi-:before { content: 'eba7'; } /* '' */
.telephone-inboundbi-:before { content: 'eba8'; } /* '' */
.telephone-minus-fillbi-:before { content: 'eba9'; } /* '' */
.telephone-minusbi-:before { content: 'ebaa'; } /* '' */
.telephone-outbound-fillbi-:before { content: 'ebab'; } /* '' */
.telephone-outboundbi-:before { content: 'ebac'; } /* '' */
.telephone-plus-fillbi-:before { content: 'ebad'; } /* '' */
.telephone-plusbi-:before { content: 'ebae'; } /* '' */
.telephone-x-fillbi-:before { content: 'ebaf'; } /* '' */
.telephone-xbi-:before { content: 'ebb0'; } /* '' */
.telephonebi-:before { content: 'ebb1'; } /* '' */
.terminal-fillbi-:before { content: 'ebb2'; } /* '' */
.terminalbi-:before { content: 'ebb3'; } /* '' */
.text-centerbi-:before { content: 'ebb4'; } /* '' */
.text-indent-leftbi-:before { content: 'ebb5'; } /* '' */
.text-indent-rightbi-:before { content: 'ebb6'; } /* '' */
.text-leftbi-:before { content: 'ebb7'; } /* '' */
.text-rightbi-:before { content: 'ebb8'; } /* '' */
.textarea-resizebi-:before { content: 'ebb9'; } /* '' */
.textarea-tbi-:before { content: 'ebba'; } /* '' */
.textareabi-:before { content: 'ebbb'; } /* '' */
.thermometer-halfbi-:before { content: 'ebbc'; } /* '' */
.thermometerbi-:before { content: 'ebbd'; } /* '' */
.three-dots-verticalbi-:before { content: 'ebbe'; } /* '' */
.three-dotsbi-:before { content: 'ebbf'; } /* '' */
.toggle-offbi-:before { content: 'ebc0'; } /* '' */
.toggle-onbi-:before { content: 'ebc1'; } /* '' */
.toggle2-offbi-:before { content: 'ebc2'; } /* '' */
.toggle2-onbi-:before { content: 'ebc3'; } /* '' */
.togglesbi-:before { content: 'ebc4'; } /* '' */
.toggles2bi-:before { content: 'ebc5'; } /* '' */
.toolsbi-:before { content: 'ebc6'; } /* '' */
.trash-fillbi-:before { content: 'ebc7'; } /* '' */
.trashbi-:before { content: 'ebc8'; } /* '' */
.trash2-fillbi-:before { content: 'ebc9'; } /* '' */
.trash2bi-:before { content: 'ebca'; } /* '' */
.tree-fillbi-:before { content: 'ebcb'; } /* '' */
.treebi-:before { content: 'ebcc'; } /* '' */
.triangle-fillbi-:before { content: 'ebcd'; } /* '' */
.triangle-halfbi-:before { content: 'ebce'; } /* '' */
.trianglebi-:before { content: 'ebcf'; } /* '' */
.trophybi-:before { content: 'ebd0'; } /* '' */
.truck-flatbedbi-:before { content: 'ebd1'; } /* '' */
.truckbi-:before { content: 'ebd2'; } /* '' */
.tv-fillbi-:before { content: 'ebd3'; } /* '' */
.tvbi-:before { content: 'ebd4'; } /* '' */
.type-boldbi-:before { content: 'ebd5'; } /* '' */
.type-h1bi-:before { content: 'ebd6'; } /* '' */
.type-h2bi-:before { content: 'ebd7'; } /* '' */
.type-h3bi-:before { content: 'ebd8'; } /* '' */
.type-italicbi-:before { content: 'ebd9'; } /* '' */
.type-strikethroughbi-:before { content: 'ebda'; } /* '' */
.type-underlinebi-:before { content: 'ebdb'; } /* '' */
.typebi-:before { content: 'ebdc'; } /* '' */
.ui-checksbi-:before { content: 'ebdd'; } /* '' */
.ui-radiosbi-:before { content: 'ebde'; } /* '' */
.unionbi-:before { content: 'ebdf'; } /* '' */
.unlock-fillbi-:before { content: 'ebe0'; } /* '' */
.unlockbi-:before { content: 'ebe1'; } /* '' */
.upc-scanbi-:before { content: 'ebe2'; } /* '' */
.upcbi-:before { content: 'ebe3'; } /* '' */
.uploadbi-:before { content: 'ebe4'; } /* '' */
.view-listbi-:before { content: 'ebe5'; } /* '' */
.view-stackedbi-:before { content: 'ebe6'; } /* '' */
.voicemailbi-:before { content: 'ebe7'; } /* '' */
.volume-down-fillbi-:before { content: 'ebe8'; } /* '' */
.volume-downbi-:before { content: 'ebe9'; } /* '' */
.volume-mute-fillbi-:before { content: 'ebea'; } /* '' */
.volume-mutebi-:before { content: 'ebeb'; } /* '' */
.volume-off-fillbi-:before { content: 'ebec'; } /* '' */
.volume-offbi-:before { content: 'ebed'; } /* '' */
.volume-up-fillbi-:before { content: 'ebee'; } /* '' */
.volume-upbi-:before { content: 'ebef'; } /* '' */
.vrbi-:before { content: 'ebf0'; } /* '' */
.wallet-fillbi-:before { content: 'ebf1'; } /* '' */
.walletbi-:before { content: 'ebf2'; } /* '' */
.wallet2bi-:before { content: 'ebf3'; } /* '' */
.watchbi-:before { content: 'ebf4'; } /* '' */
.wifi-1bi-:before { content: 'ebf5'; } /* '' */
.wifi-2bi-:before { content: 'ebf6'; } /* '' */
.wifi-offbi-:before { content: 'ebf7'; } /* '' */
.wifibi-:before { content: 'ebf8'; } /* '' */
.windowbi-:before { content: 'ebf9'; } /* '' */
.wrenchbi-:before { content: 'ebfa'; } /* '' */
.x-circle-fillbi-:before { content: 'ebfb'; } /* '' */
.x-circlebi-:before { content: 'ebfc'; } /* '' */
.x-diamond-fillbi-:before { content: 'ebfd'; } /* '' */
.x-diamondbi-:before { content: 'ebfe'; } /* '' */
.x-octagon-fillbi-:before { content: 'ebff'; } /* '' */
.x-octagonbi-:before { content: 'ec00'; } /* '' */
.x-square-fillbi-:before { content: 'ec01'; } /* '' */
.x-squarebi-:before { content: 'ec02'; } /* '' */
.xbi-:before { content: 'ec03'; } /* '' */
.zoom-inbi-:before { content: 'ec04'; } /* '' */
.zoom-outbi-:before { content: 'ec05'; } /* '' */
.bar-chart-fillbi-:before { content: 'ec06'; } /* '' */
.bar-chart-stepsbi-:before { content: 'ec07'; } /* '' */
.bar-chart-line-fillbi-:before { content: 'ec08'; } /* '' */
.egg-friedbi-:before { content: 'ec09'; } /* '' */
.infobi-:before { content: 'ec0a'; } /* '' */
.info-squarebi-:before { content: 'ec0b'; } /* '' */
.info-circlebi-:before { content: 'ec0c'; } /* '' */
.serverbi-:before { content: 'ec0d'; } /* '' */